html {
    box-sizing: border-box;
    font-size: 12px;
    @media (min-width: 400px) {
        font-size: 16px;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    background: #f0f5f8;
    color: #222;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif;
    &.active {
        color: white;
    }
}

.wrap {
    @media (min-width: 400px) {
        margin: auto;
    }
    padding: 24px;
    max-width: 700px;
}

.intro {
    font-family: 'Alegreya';
    font-size: 10rem;
    margin: 0 0 1.5rem 0;
    line-height: 1;
    white-space: nowrap;
}

$ringSize: 200;
$ringPercent: percentage($ringSize/100);

.target-dot {
    z-index: 1;
    position: relative;
    height: 2rem;
    width: 2rem;
    left: 4px;
    top: -1.3rem;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    vertical-align: bottom;
    will-change: transform;
    .active & {
        position: fixed;
        top: 0;
        left: 0;
    }
    &:focus {
        outline: none;
    }
    &.pulsing {
        animation: pulse 0.75s cubic-bezier(0.4, 0, 0, 1);
    }
}

.pulse {
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0;
    will-change: transform;
    &--front {
        width: 100%;
        height: 100%;
        background: #222;
        z-index: 1;
    }
    &--back {
        height: $ringPercent;
        width: $ringPercent;
        left: (100% - $ringPercent) / 2;
        top: (100% - $ringPercent) / 2;
        transform: scale(100 / ($ringSize + 10));
        border: 1px solid #ff1c83;
        background: rgba(#ff1c83, 0.5);
        .pulsing & {
            animation: pulseRing 1s cubic-bezier(0.4, 0, 0, 1);
            animation-delay: 0.28s;
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulseRing {
    0% {
        transform: scale(100 / ($ringSize + 10));
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

p {
    font-size: 1.5rem;
    line-height: 1.6;
    margin: 0 0 1.5rem 0;
}

canvas {
    z-index: -1;
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

a {
    transform: translateZ(0);
    color: inherit;
    text-decoration: none;
    position: relative;
    &:before,
    &:after {
        transform: translateZ(0);
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -2px;
        z-index: -1;
        transition: transform 0.2s cubic-bezier(0.4, 0, 0, 1);
    }
    &:after {
        background: #ff1c83;
        transform: translateZ(0) scale(0, 1);
    }
    &:before {
        background: rgba(0, 0, 0, 0.1);
        .active & {
            background: rgba(255, 255, 255, 0.4);
        }
    }
    &:hover:after {
        transform: translateZ(0) scale(1, 1);
    }
}
